body{
	margin: 0 auto;
	padding: 0;
	font-family: 'Slabo 27px', serif;
}

.row{
	margin:0;
}

#about{
	padding: 10%;
}

#habilidades{
	padding: 10%;
}

#proyectos{
	padding: 10%;
}

#contacto{
	padding: 6%;
}

/*header{
	position: fixed;
	z-index: 4;
	width: 70%;
	}*/

.portada{
	background-image: url(../img/IMG_20160205_150854.jpg);
	width: 100%;
	background-position: center;
	background-repeat:no-repeat;
	color:#fff;
	padding: 10%;
}

/*.sobre{
	background: #2c818b;
	width: 100%;
	opacity: 0.8;
	padding: 10%;

	}*/

.circle{
	width: 80%;
	margin-left: 12%;
	border: 2px solid #fff;
	padding: 2%;
}

h1{
	margin :0;
}

#loco {
	border-radius: 3%;
	margin:5% 1%;
	background: #ccc;
	text-align: center;
	transition: all 2s ease-in-out;
}

#loco:hover, #loco.hover_effect {
	transform: rotate(720deg) scale(1,2);
}

.proyectos{
	margin:5% 0;
}


.contacto{
	font-size: 16px;
}

.social{
	margin-top: 5%;

}
