body{
	margin: 0 auto;
	padding: 0;
	font-family: 'Slabo 27px', serif;
	line-height: 2;
}

.row{
	margin:0;
}

#about{
	padding: 10%;
}

#habilidades{
	padding: 10%;
}

#proyectos{
	padding: 10%;
}

#contacto{
	padding: 6%;
}

.portada{
	background-image: url(../img/DSC_0252.jpg);
	width: 100%;
	background-position: center;
	background-repeat:no-repeat;

	padding: 10%;
	color: #fff;
	text-shadow: 2px 2px #000;
}

.portada:hover{
	background-image: url(../img/DSC_0034.jpg);
}

.circle{
	width: 80%;
	margin-left: 12%;
	border: 2px solid #fff;
	padding: 2%;
}

.imagen-about:hover{
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	-webkit-transform:scale(1.25);
	-moz-transform:scale(1.25);
	-ms-transform:scale(1.25);
	-o-transform:scale(1.25);
	transform:scale(1.25);
}

 #demo {
    color: #FFF;
    font-family: Georgia;
    font-size: 20px;
    height:140px;
    width: 500px;
  }

h1{
	margin :0;
}

h3{
	color: #fff;
	text-shadow: 2px 2px #000;
}

#about p{
	color: #FFF;
	font-size: 16px;
}

/*#loco {
	border-radius: 3%;
	margin:5% 0%;
	background: #ccc;
	text-align: center;
	transition: all 2s ease-in-out;
}

#loco:hover, #loco.hover_effect {
	transform: rotate(720deg) scale(1,2);
}*/

.logos{
	font-size: 100px;
}

.proyectos{
	margin:5% 0;
}


.contacto{
	font-size: 16px;
}

#contacto p{
	color: #fff;
}

.social{
	margin-top: 5%;

}

i{
	color:#000;
}
